In [4]:
# Naive random test
import pandas as pd
import random

In [8]:
y_sample_final = pd.read_csv("y_sample_final.csv", sep=",")
y_sample_final.head()

   Unnamed: 0  p0q0
0           0     9
1           1    -1
2           2     3
3           3     5
4           4    -7

In [ ]:
new